/* Styles pour le thème voyage - Modifications légères */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #003366; /* bleu foncé/*
  font-size: 18px; /* Texte plus gros pour le confort de lecture */
  line-height: 1.6;
}

h1 {
  color: #1a73e8; /* Un bleu doux pour le titre */
  font-family: 'Pacifico', cursive;; /* Police cursive pour un effet voyage */
  text-align: center;
  font-size: 2.5em; /* Titre plus grand */
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  font-size: 1.2em;
}

form {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  color: #0077cc;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccd;
  border-radius: 6px;
  font-size: 1em;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;

input[type="submit"]:hover {
  background-color: #135ba3;
}

  .fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0px);
}
